<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="lib" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>

        <!-- allow mixed interfaces -->
        <MixedArgument errorLevel="suppress" />
        <MixedArgumentTypeCoercion errorLevel="suppress" />
        <MixedArrayAccess errorLevel="suppress" />
        <MixedArrayAssignment errorLevel="suppress" />
        <MixedArrayOffset errorLevel="suppress" />
        <MixedAssignment errorLevel="suppress" />
        <MixedClone errorLevel="suppress" />
        <MixedFunctionCall errorLevel="suppress" />
        <MixedInferredReturnType errorLevel="suppress" />
        <MixedOperand errorLevel="suppress" />
        <MixedPropertyAssignment errorLevel="suppress" />
        <MixedPropertyFetch errorLevel="suppress" />
        <MixedPropertyTypeCoercion errorLevel="suppress" />
        <MixedReturnStatement errorLevel="suppress" />
        <MixedReturnTypeCoercion errorLevel="suppress" />
        <MixedStringOffsetAssignment errorLevel="suppress" />

        <!-- return statements for closures are not required-->
        <MissingClosureReturnType errorLevel="suppress" />
    </issueHandlers>
</psalm>
